
.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

/* Side Menu */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  padding: 20px;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.side-menu .close-btn {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}


@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .side-menu.show {
    transform: translateX(0);
  }
}



/*----------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.custom-navbar { /*CSS DO BOOTSTRAP*/
  background-color: #025939;
  padding: 0.5% 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 90px; 
}


.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
}

.navbar-logo img {
  height: 150px;
  width: auto;
}


.shop-logo{
  margin-top: 0%;
  margin-left: -50%;
  height: 50%;
  width: 20%;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  line-height: 0px; /* CONFIGURAR ALTURA DA LINHA */
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navbar-menu li a:hover {
  background-color: #006842;
  border-radius: 5px;
}

.h1-ver-mais{
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  color: #ffffff;
}


@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}
}

.custom-header { /*CSS DO BOOTSTRAP*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*height: 100vh; altera a altura entre a header o resto da main */
  padding-top: 5.5%;
}

.header__title {
  text-align: center;
  color: #025939;
}

.header__title h1.first {
  font-size: 2.5rem;
}

.header__title h1.second {
  font-size: 3.5rem;
}

.header__title h2.third {
  font-size: 2rem;
}


.main-section {
  position: relative;
  padding: 20px 0;
  overflow: hidden; 
}

.main-product{
  background-color: #242424;
}

.container-produtos-title{
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-align: center;
}

.container-produtos-title h1{
  font-size: 80px;
}

.container-produtos-title h3{
  font-size: 20px;
}


.background-image {
  filter: brightness(30%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.custom-carousel {
  position: relative;
  z-index: 2;
}

.carousel-control-next:hover{
  background-color: transparent;
}

.carousel-control-prev:hover{
  background-color: transparent;
}

.custom-carousel { /* CÓDIGO DO BOOTSTRAP */
  margin-top: 5%;
  max-width: 100%;  
  width: 80%;
  height: 800%;    
}

.custom-carousel img {
  object-fit: cover;  
  height: 100%;       
  width: 100%;        
}

footer{
  background-color: #444;
  color: white;
}
.footer-container {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1;
  margin: 20px;
}

.footer-about h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00ad6e;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #00ad6e;
}

.footer-links ul,
.footer-contact ul {
  list-style: none;
}

.footer-links ul li,
.footer-contact ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: #00ad6e;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #444;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.footer-bottom p {
  font-size: 14px;
}

.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-left: 10px;
}

.social-icons li a img {
  width: 24px;
  height: 24px;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.social-icons li a:hover img {
  filter: none;
}


/* CSS - PRODUTOS */

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.category-section {
  margin-bottom: 40px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 18px;
  color: #660128;
}

.product-card p {
  color: #555;
  font-size: 14px;
}

.ecobag-primaria {
  z-index: 1; 
  opacity: 1;
  width: 110%;
  height: 120%;
}

.ecobag-secundaria {
  z-index: 0;
  opacity: 0;
  width: 110%;
  height: 120%;
}

.tenis-primario {
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 105%;
  top: 10px;
}

.tenis-secundario {
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 120%;
}

.calca_primaria {
  z-index: 1;
  opacity: 1;
  width: 98%;
  height: 100%;
  top: 2px;
}

.calca_secundaria {
  z-index: 0;
  opacity: 0;
  width: 98%;
  height: 110%;
  top: -5px;
}

.shampoosolido1 {
  z-index: 1;
  opacity: 1;
  width: 93%;
  height: 100%;
  top: 2px;
}

.shampoosolido2 {
  z-index: 0;
  opacity: 0;
  width: 97%;
  height: 110%;
  top: -5px;
}

.saboneteveg1 {
  z-index: 1;
  opacity: 1;
  width: 98%;
  height: 100%;
  top: 2px;
}

.saboneteveg2 {
  z-index: 0;
  opacity: 0;
  width: 98%;
  height: 110%;
  top: -5px;
}

.protetorsolar1 {
  z-index: 1;
  opacity: 1;
  width: 98%;
  height: 100%;
  top: 2px;
}

.protetorsolar2 {
  z-index: 0;
  opacity: 0;
  width: 98%;
  height: 110%;
  top: -5px;
}

.balsamo1 {
  z-index: 1;
  opacity: 1;
  width: 98%;
  height: 100%;
  top: 2px;
}

.balsamo2 {
  z-index: 0;
  opacity: 0;
  width: 98%;
  height: 110%;
  top: 10px;
}

.purificador1{
  z-index: 1;
  opacity: 1;
  width: 110%;
  height: 120%;
}

.purificador2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
  /* Estilização dos títulos e seções */
}

  .category-section h2 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.lavalouca1{
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 120%;
}

.category-section h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}

.lavalouca2{
  z-index: 0;
  opacity: 0;
  width: 110%;
  height: 110%;
}

.cortinatermica1{
  z-index: 1;
  opacity: 1;
  width: 95%;
  height: 93%;
  top: 15px;
}

.cortinatermica2 {
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 120%;
}

.copostanley1{
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 105%;
}

.copostanley2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
}

.carregadorsol1{
  z-index: 1;
  opacity: 1;
  width: 100%;
  height: 105%;
}

.carregadorsol2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
}

.foneouvido1{
  z-index: 1;
  opacity: 1;
  width: 90%;
  height: 105%;
}

.foneouvido2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
}

.lampadaled1{
  z-index: 1;
  opacity: 1;
  width: 90%;
  height: 105%;
}

.lampadaled2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
}

.caixasom1{
  z-index: 1;
  opacity: 1;
  width: 90%;
  height: 105%;
}

.caixasom2{
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 110%;
}


.container-produtos {
  max-width: 1200px;
  margin: 0 auto;
}

.square {
  border: 1px solid #000;
  background-color: transparent;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.6s cubic-bezier(0.42, 0, 0.58, 1);
  overflow: hidden;
  position: relative;
}

.square:hover {
  transform: scale(1.1);
}

.square img {
  object-fit: cover;
  transition: transform 0.3s ease, opacity 0.5s ease;
  border-radius: 15px;
  margin-bottom: 15%;
  position: absolute;
  transform: scale(1.1);
}

.square:hover img {
  transform: scale(1.05);
  top: -35px;
}

.square:hover .img-primaria {
  opacity: 0;
}

.square:hover .img-secundaria {
  opacity: 1;
  transform: scale(1.05);
}

.img-primaria {
  z-index: 1;
  opacity: 1;
  top: 8px;
  width: 120%;
  height: 160%;
}

.img-secundaria {
  z-index: 0;
  opacity: 0;
  top: 15px;
  width: 120%;
  height: 160%;
}

.square {
  margin-bottom: 15px;
}

.square:hover .ecobag-primaria {
  opacity: 0; /* Torna a imagem primária invisível no hover */
}

.square:hover .ecobag-secundaria {
  opacity: 1; /* Torna a imagem secundária visível no hover */
}

.square:hover .tenis-primario {
  opacity: 0;
}

.square:hover .tenis-secundario {
  opacity: 1;
}

.square:hover .calca_primaria {
  opacity: 0;
}

.square:hover .calca_secundaria {
  opacity: 1;
  top: -20px;
}

.square:hover .shampoosolido1{
  opacity: 0;
}

.square:hover .shampoosolido2 {
  opacity: 1;
  top: -20px;
}

.square:hover .saboneteveg1{
  opacity: 0;
}

.square:hover .saboneteveg2 {
  opacity: 1;
  top: -20px;
}

.square:hover .protetorsolar1{
  opacity: 0;
}

.square:hover .protetorsolar2 {
  opacity: 1;
  top: -20px;
}

.square:hover .balsamo1{
  opacity: 0;
}

.square:hover .balsamo2{
  opacity: 1;
  top: 10px;
}

.square:hover .purificador1{
  opacity: 0;
}

.square:hover .purificador2{
  opacity: 1;
}

.square:hover .lavalouca1{
  opacity: 0;
}

.square:hover .lavalouca2{
  opacity: 1;
}

.square:hover .cortinatermica1{
  opacity: 0;
}

.square:hover .cortinatermica2{
  opacity: 1;
  top: 10px;
}

.square:hover .copostanley1{
  opacity: 0;
}

.square:hover .copostanley2{
  opacity: 1;
}

.square:hover .carregadorsol1{
  opacity: 0;
}

.square:hover .carregadorsol2{
  opacity: 1;
}

.square:hover .foneouvido1{
  opacity: 0;
}

.square:hover .foneouvido2{
  opacity: 1;
}

.square:hover .lampadaled1{
  opacity: 0;
}

.square:hover .lampadaled2{
  opacity: 1;
}

.square:hover .caixasom1{
  opacity: 0;
}

.square:hover .caixasom2{
  opacity: 1;
}


button {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid #333;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #660128;
  color: #fff;
}

.btn-verde {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: white !important;
  margin-bottom: 50px;
}

.btn-verde:hover {
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.btn-custom {
  font-size: 20px; /* Aumenta o tamanho do texto */
  padding: 15px 30px; /* Aumenta o espaço interno do botão */
  width: 200px; /* Define uma largura maior para o botão */
  text-align: center; /* Alinha o texto ao centro horizontalmente */
  line-height: 1.5; /* Ajusta o espaçamento vertical */
}

@media (max-width: 768px) {
  .product-card {
      margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .product-row {
      margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .square {
      height: 300px;
  }
  .product-row {
      margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .square {
      height: 350px;
  }
}
